@import "lib/styles/_colors";
@import "lib/styles/_typography";

.showcase {
  padding: 100px;
  background-color: $offWhite;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;

  h1 {
    @extend .DM_Bold_40_56;

    margin: 0;
    padding: 0;
  }

  h2 {
    @extend .DM_Med_24_24;

    margin: 0;
    padding: 0;
  }

  .section {
    margin: 30px 0 50px;
  }

  .colors, .typography {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .colors {
    .row {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      min-width: 100px;

      div {
        margin: 5px 0;
      }

      code {
        color: $blue-100;
      }
    }

    .color {
      height: 88px;
      width: 88px;
      border-radius: 100%;
      border: 1px solid transparent;
    }

    .blue-100 {
      background-color: $blue-100;
    }

    .blue-90 {
      background-color: $blue-90;
    }

    .blue-80 {
      background-color: $blue-80;
    }

    .blue-70 {
      background-color: $blue-70;
    }

    .blue-60 {
      background-color: $blue-60;
    }

    .blue-50 {
      background-color: $blue-50;
    }

    .blue-40 {
      background-color: $blue-40;
    }

    .blue-30 {
      background-color: $blue-30;
    }

    .blue-20 {
      background-color: $blue-20;
    }

    .blue-10 {
      background-color: $blue-10;
    }

    .blue-7 {
      background-color: $blue-7;
      border-color: $grey-2;
    }

    .off-black {
      background-color: $offBlack;
    }

    .off-white {
      background-color: $offWhite;
      border-color: $grey-2;
    }

    .grey-2 {
      background-color: $grey-2;
    }

    .grey-3 {
      background-color: $grey-3;
    }

    .grey-light-m {
      background-color: $grey-light-m;
    }

    .grey-light-l {
      background-color: $grey-light-l;
    }

    .grey-med-wcag {
      background-color: $grey-med-wcag;
    }

    .mint-light-mint {
      background-color: $mint-light-mint;
      border-color: $grey-2;
    }

    .mint-3-light {
      background-color: $mint-3-light;
      border-color: $grey-2;
    }

    .mint-very-light {
      background-color: $mint-very-light;
      border-color: $grey-2;
    }

    .mint-4 {
      background-color: $mint-4;
      border-color: $grey-2;
    }

    .orange {
      background-color: $orange;
    }

    .orange-light {
      background-color: $orange-light;
      border-color: $grey-2;
    }

    .red {
      background-color: $red;
    }

    .red-light {
      background-color: $red-light;
      border-color: $grey-2;
    }

    .mds-light-beerus {
      background-color: $mds-light-beerus;
    }
  }

  .typography {
    .items {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .item {
      display: grid;
      grid-template-columns: 200px auto;
      align-items: center;
    }
  }
}

